@charset "utf-8";

header {
    color: #82b7df;
}

body.on header {
    color: #fff;
}



img {
    vertical-align: top;
}

.webtoon_inner {
    width: 900px;
    margin: 0 auto;
    padding-top: 270px;
}

.tit {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 117px;
}

.tit img {
    width: 60%;
}

.part_1 {
    width: 100%;
    /* 
    height: 602px; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 33px;
}

.part_1 .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 7;
}

.part_1 .left .lert_bottom .cat {
    position: absolute;
    right: 0;
    bottom: -126px;
    z-index: 10;
}

.part_2 {
    width: 100%;
    height: 320px;
    margin-bottom: 20px;
}

.part_2 img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.part_2 ul {
    width: 100%;
    left: 50px;
    top: 30px;
}

.part_2 ul li {
    cursor: pointer;
    width: 148px;
}

.part_2 ul li img {
    width: 60%;
}

.part_3 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 33px;
}

.part_4 .but {
    margin-top: 125px;
}

.part_5 {
    display: flex;
    justify-content: center;
    padding: 177px 0;
    width: 100%;
    position: relative;
}

.part_5 .kakao img {
    position: absolute;
}

.part_5 .kakao img:nth-last-child(1) {
    right: 5%;
    bottom: 15%;
}

.part_5 .kakao img:nth-last-child(2) {
    left: 10%;
    bottom: 27%;
}

.part_5 .kakao img:nth-last-child(3) {
    left: 19%;
    top: 22%;
}

.part_6 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.part_7 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 33px;
}

.part_8 {
    width: 100%;
    height: 482px;
    padding-bottom: 30px;
    margin-bottom: 33px;
    position: relative;
}

.part_8 img {
    width: 100%;
}

.part_8 .programe {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
    display: flex;
    justify-content: space-between;
    width: 85%;

}

.part_8 .programe img {
    animation: sc linear 2s infinite;
    transition: all 2s;
    cursor: pointer;
    width: 29%;
}



.part_8 .talk img {
    position: absolute;
    bottom: 46%;
    display: none;
    width: 20%;
}

.part_8 .talk img.html_talk {
    left: 50px;
}

.part_8 .talk img.css_talk {
    left: 40%;
}

.part_8 .talk img.js_talk {
    right: 70px;
}

.part_9 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.part_10 {
    width: 100%;
    height: 830px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.about_contact {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 70px 0 250px;
}

.about_contact a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_contact img {
    animation: sc linear 2s infinite;
    transition: all 2s;
}

@keyframes sc {
    0% {
        transform: scale(1.01);
    }

    50% {
        transform: scale(1.06);
    }

    100% {
        transform: scale(1.01);

    }

}

footer {
    background: #82b7df;
}

@media screen and (max-width:824px) {
    .webtoon_inner {
        width: 100%;overflow: hidden;
    }

    .webtoon_inner>div {
        width: 100%;
    }

    .hello {
        width: 100%;
    }

    .hello img {
        width: 100%;
    }

    /*  .part_1 {width: 100%;} */
    .part_1 .left {
        width: 55%;
    }

    .part_1 .left img {
        width: 100%;
    }

    .part_1 .left .lert_bottom .cat {
        width: 50%;
        bottom: -19.7%;
    }

    .part_1 .right {
        width: 42%;
    }

    .part_1 .right img {
        width: 100%;
    }

    .part_2 {
        height: 280px;
    }

    .part_2 img {
        width: 100%;
    }

    .part_3 img {
        width: 100%;
    }

    .part_3 .p3_left {
        width: 59%;
    }

    .part_3 .p3_right {
        width: 37%;
    }

    .part_4 img {
        width: 96.5%;
    }

    .part_4 .but {
        width: 100%;
    }

    .part_6 img {
        width: 100%;
    }

    .part_6 .p6_left {
        width: 35%;
    }

    .part_6 .p6_right {
        width: 63%;
    }

    .part_7 img {
        width: 100%;
    }

    .part_7 .p7_left {
        width: 64%;
    }

    .part_7 .p7_right {
        width: 33.8%;
    }
    .part_8{padding: 0;height: 420px;}
    .part_9 {width: 100%;}
    .part_9 img{width: 100%;}
    .part_9 .p9_left{width: 35.6%;}
    .part_9 .p9_right{width: 63%;}
    .part_10 img{width: 70%;}
    .about_contact img{width: 70%;}
}
@media screen and (max-width:769px){
    .part_8{height: 420px;margin: 0;}

}
@media screen and (max-width:432px){
    .webtoon_inner{padding-top: 180px;}
    .webtoon_inner>div{margin-bottom: 12px;}/* 
    .part_1{margin-bottom: 12px;} */
    .part_1 .left .lert_bottom .cat{bottom: -20%;}
    .part_2{height: 150px;}
    .part_2 ul {top: 25px;}
    .part_5>img{width: 70%;}
    .part_5 .kakao img{width: 20%;}
    .part_6 {margin-bottom: 0;}
    .part_8{height: 229px;}
    .part_10{height: 600px;}
    .about_contact{padding-bottom: 160px;}
}
@media screen and (max-width:392px){
    .webtoon_inner{padding-top: 160px;}
    .part_2{height: 137px;}
    .part_2 ul {top: 18px;}
    .part_8{height: 207px;}
}
@media screen and (max-width:377px){
    .part_1 .left .lert_bottom .cat{bottom: -19.6%;}
    .part_2{height: 132px;}
    .part_8{height: 200px;}
    .part_8 .programe {width: 80%;}
    .part_10{height: 560px;}
}
@media screen and (max-width:366px){
    .part_1 .left .lert_bottom .cat{bottom: -20%;}
    .part_2{height: 127px;}
    .part_8{height: 192px;}
}